## k3slab configuration

# Change if you want to create a master!
# Default: agent
#K3S_MODE=master

# Download URL for k3s-binary, raspi will download it, if it doesn't exist
# FIXME: uname -m ..?
ARCH=armhf
K3S_VERSION="v1.17.3+k3s1"
K3S_URL="https://github.com/rancher/k3s/releases/download/${K3S_VERSION}/k3s-${ARCH}"

# Force k3s-binary download if not 'false'
# Default: false
UPDATE=false

K3S_CLUSTER_SECRET="MakeRaspberriesGreatAgain"
